:root {
    font: Arial;
    font-family: 'Rubik', Arial;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(40, 40, 40);
    color: white;
    width: 100%;
    height: auto;
    margin: 0px;
}

h1 {
    font-size: 100px;
    margin: 0px;
    line-height: normal
}

h2 {
    font-size: 70px;
    padding: 1em 0em;
}

h3 {
    font-size: 52px;
}

h4 {
    font-size: 35px;
}

h5 {
    font-size: 22px;
}

p {
    font-size: 22px;
    margin: 0px;
    overflow: auto;
}

.links {
    color: white;
    text-decoration-line: none;
    font-size: 20px;
    font-weight: 500;
}

.links:hover {
    /*color: rgb(25, 180, 227);*/
    
}

header {
}

.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    background-color: rgb(50, 50, 50);
    color: white;
    font-size: 20px;
    border-color: rgb(80, 80, 80);
}

.navbar a {
    padding: 1em 2em;
    text-align: center;
    color: white;
    background-color: inherit;
    text-decoration: none;
}

.navbar a:hover {
    animation-name: button-hover;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}
.navbar a#active {
    color: deepskyblue;
    border-bottom: solid;
    border-color: deepskyblue;
}

@keyframes button-hover {
    100% {
        background-color: rgb(65, 65, 65);
    }
}

#intro {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#intro img {
    height: auto;
    width: 500px;
    border-radius: 50%;
    margin: 0% 3% 0% 0%;
}

#intro #profile-text {
    line-height: 25px;
    /*border: solid;
    border-color: rgb(80, 80, 80);
    padding: 0px 2% 0px 2%;
    text-align: justify;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 10px;*/
}

#profile-text p{
    font-size: 40px;
    line-height: normal;
}

#about {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info {
    display: flex;
    justify-content: space-evenly;
    
}

#about h2 {
    margin-top: 0.2em;
}

.info-section {
    width: 30vw;
    text-align: center;
}

.info-section img {
    margin-right: 0.1em;
}

.info-section h3 {
    margin-bottom: 0.5em;
}

.info-section h4{
    line-height: 0em;

}

.info-section h5 {
    margin-top: 1.5em;
    line-height: 0em;
}

.info-section p {
    color: rgb(200, 200, 200);
    margin-top: 0.8em;
}

#work {
    width: 100vw;
    height: auto;
    display: flex;
}

#abilities {
    width: 60vw;
    margin: 0vw 20vw;
    height: auto;
}

#abilities h2{
    text-align: center;
}

#abilities-list {
    font-size: 30px;
    display: grid;
    grid-template-columns: 30vw 30vw;
    grid-template-rows: 1.5em 10em 1.5em 5em 1.5em 2em;
    grid-gap: 2em 3vw;
}

#abilities-list h3 {
    font-size: 40px;
    grid-column: 1/3;
    justify-self: center;
    align-self: end;
}

#abilities-list ul{
    list-style: none;
}

/*#skills ul {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    max-height: 22em;
    align-items: center;
}

#skills li {
    height: 2em;
    margin-right: 2em;
}*/


#contact {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: 28px;
    align-items: center;
}

#contact-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
}

#contact-links a {
    text-decoration: none;
    color: white;
    margin: 0em 1em;
}

#contact-links img {
    margin-right: 0.2em;
}

#contact-links a, img {
    vertical-align: top;
}


footer {
    text-align: center;
}

@media (max-width: 1300px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 40px;
    }

    p {
        font-size: 14px;
    }
    .navbar {
        font-size: 14px;
    }
}
