:root {
    font: Arial;
    font-family: 'Rubik', Arial;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: rgb(40, 40, 40);
    color: white;
    width: 100%;
    height: auto;
    margin: 0px;
}

h1 {
    font-size: 100px;
    margin: 0px;
    line-height: normal
}

h2 {
    font-size: 70px;
    padding: 1em 0em;
}

h3 {
    font-size: 52px;
}

h4 {
    font-size: 35px;
}

h5 {
    font-size: 22px;
}

p {
    font-size: 22px;
    margin: 0px;
}

.links {
    color: white;
    text-decoration-line: none;
    font-size: 20px;
    font-weight: 500;
}

.links:hover {
    /*color: rgb(25, 180, 227);*/
    
}

header {
}

.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    background-color: rgb(50, 50, 50);
    color: white;
    font-size: 20px;
    border-color: rgb(80, 80, 80);
}

.navbar a {
    padding: 1em 2em;
    text-align: center;
    color: white;
    background-color: inherit;
    text-decoration: none;
}

.navbar a:hover {
    animation-name: button-hover;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}
.navbar a#active {
    color: deepskyblue;
    border-bottom: solid;
    border-color: deepskyblue;
}

@keyframes button-hover {
    100% {
        background-color: rgb(65, 65, 65);
    }
}

#intro {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#intro img {
    height: auto;
    width: 500px;
    border-radius: 50%;
    margin: 0px 50px;
}

#profile-text p{
    font-size: 40px;
    line-height: normal;
}

#about {
    font-size: 30px;
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5em 15em;
    grid-gap: 2em 0vw;
    grid-template-areas:
        "header header header"
        "education experience achieve";
}

#about h2 {
    grid-area: header;
    justify-self: center;
}

.info-section {
    width: auto;
    text-align: center;
    justify-self: center;

}

.info-section img {
    margin-right: 0.1em;
}

.info-section h3 {
    margin-bottom: 0.5em;
}

.info-section h4{
    line-height: 0em;

}

.info-section h5 {
    margin-top: 1.5em;
    line-height: 0em;
}

.info-section p {
    color: rgb(200, 200, 200);
    margin-top: 0.8em;
}

#education {
    grid-area: education;
}

#experience {
    grid-area: experience;
}

#achieve {
    grid-area: achieve;
}

#work {
    width: 100vw;
    height: auto;
    display: flex;
}

#abilities {
    width: 60vw;
    margin: 0vw 20vw;
    height: auto;
}

#abilities h2{
    text-align: center;
}

#abilities-list {
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

#abilities-list h3 {
    font-size: 40px;
}

#abilities-list ul {
    list-style: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    margin-bottom: 2em;
}

/*#skills ul {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    max-height: 22em;
    align-items: center;
}

#skills li {
    height: 2em;
    margin-right: 2em;
}*/


#contact {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: 28px;
    align-items: center;
}

#contact-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
}

#contact-links a {
    text-decoration: none;
    color: white;
    margin: 0em 1em;
}

#contact-links img {
    margin-right: 0.2em;
}

#contact-links a, img {
    vertical-align: top;
}


footer {
    text-align: center;
}

@media (max-width: 1500px) {
    #about {
        font-size: 30px;
        width: 100vw;
        height: auto;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 5em repeat(3, 7em);
        grid-gap: 2em 0vw;
        grid-template-areas:
            "header"
            "education"
            "experience" 
            "achieve";
    }
}

@media (max-width: 1200px) {
    h1 {
        font-size: 80px;
    }
    #profile-text p {
        font-size: 35px;
        line-height: normal;
    }
}

@media (max-width: 1000px) {
    #intro {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    h1 {
        text-align: center;
    }
    #profile-text p {
        font-size: 30px;
        text-align: center;
    }
}

@media (max-width: 700px) {
    #profile-text p {
        font-size: 25px;
    }
}

@media (max-width: 600px) {
    #intro img {
        width: 400px;
    }
    h1 {
        font-size: 60px;
        margin: 0px 50px;
    }

    h2 {
        font-size: 52px;
    }

    h3 {
        font-size: 42px;
    }

    h4 {
        font-size: 28px;
    }

    h5 {
        font-size: 18px;
    }

    .info-section p {
        font-size: 16px;
    }

    #profile-text p {
        font-size: 25px;
        margin: 0px 50px;
    }

    #abilities-list h3 {
        font-size: 30px;
    }

    #abilities-list ul {
        columns: 1;
        font-size: 22px;
    }

    #contact-links {
        display: flex;
        flex-direction: column;
    }

    #contact-links a {
        text-decoration: none;
        color: white;
        margin: 1em 1em;
    }
}

@media (max-width: 450px) {
    #intro img {
        width: 300px;
        margin: 0px 10px;
    }

    h1 {
        font-size: 50px;
        margin: 0px 20px;
    }

    h2 {
        font-size: 42px;
    }

    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 22px;
    }

    h5 {
        font-size: 15px;
    }

    #profile-text p {
        font-size: 20px;
        margin: 0px 20px;
    }

    #abilities-list h3 {
        font-size: 25px;
    }

    #abilities-list ul {
        font-size: 18px;
    }

    #contact-links a {
        font-size: 18px;
    }

    #contact-links img {
        max-width: 18px;
    }
}